body {
    height: 100%;
    background: rgb(255,247,235);
    background: radial-gradient(circle, rgba(255,247,235,1) 0%, rgba(255,230,194,1) 100%);
}

p, ul { text-align: justify; }
.centered { text-align: center; }
.smaller { font-size: .8em; }
.btn-readmore { vertical-align: middle; }
hr { 
    width: 100%; 
    margin: 0 auto;
    border: 5px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
}

.row-rtl {
    float: right !important;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.big-heading { font-size: 3em; }
.big-description { 
    font-size: 1.1em;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-style: italic;
}

#main-container {
    height: 100%;
    width: 768px;
    margin: 3em auto;
    text-align: center;
    background-color: #fff;
    /*border: 3px solid rgb(255,251,245);*/
    box-shadow: 0 30px 40px rgba(128, 128, 128, .3);
}

.full-page {
    padding-top: 3em;
    padding-bottom: 3em;
}

.col-text { padding: 0 2em; }

.btn-ig {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.btn-telegram { background-color: #0088cc; }
.btn-linkedin { background-color: #0072b1; }

.btn-brand {
    border: none;
    color: #fff; 
}

.btn-brand:hover {
    color: #d3d3ff;
}

header {
    background: #ffd8d0;
    background: linear-gradient(0deg, #ffffff 0%, #ffe4df 8%, #ffd8d0 100%);
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

footer p { 
    text-align: center;
    font-size: 0.85em;
}

.event-desc p {
    margin: 0;
}

.event-desc ul { text-align: justify; }

.event-desc-1 { font-weight: bold; }

.event-list { 
    list-style: none; 
    padding-left: 0;
}

.event-list li {
    margin-bottom: .8em;
}

.event-award { color: #808080; }

.row-img { margin: 0 auto; }
.caption {
    font-size: .8em;
    color: #777;
}

.nomargin {
    margin: 0;
}

.nomargin-list li {
    margin: 0;
    list-style-type: disc;
}

@media only screen and (max-width: 768px) {
    #main-container {
        width: 100%;

        /* no need for outer background for mobile view */
        margin: 0 auto;
    }
    
    /* remove unintended left/right margin for mobile view */
    .row { margin: 0 auto; }

    /* layout 1: colored text beside event title */
    .event-date { color: #999; }
    .event-date::before { content: "("; }
    .event-date::after  { content: ")"; }
}

@media only screen and (min-width: 768px) {

    /* layout 2: text to right of screen if screens are big enough */
    .event-date {
        float: right;
    }    
}

@media only screen and (min-width: 1536px) {
    #main-container {
        width: 50%;
    }
}