.container-wrap {
  /* overflow: hidden; */
  position: relative;
}

.image-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  /* background-repeat: repeat-y; */
}

.container-inner {
  text-align: center;
  position: relative;
  opacity: 1;
  box-shadow: 0 60px 80px 0 rgba(0, 0, 0, 0.3);
  padding: 0 !important;
}

header,
article,
footer {
  /*border: 1px solid black;*/
  width: 100%;
  margin: 0 auto;
  padding: 1.25em;
}

header {
  background: linear-gradient(0deg, #eee 0%, #ffe4df 8%, #ffd8d0 100%);
}

article {
  background-color: #eee;
}

footer {
  background-color: #2e2e2e;
  color: #e0e0e0;
  font-size: 0.85em;
}

footer p {
  margin: 0 auto;
}

.error-wrap {
  color: rgb(80, 0, 0);
  background-color: rgb(250, 189, 189);
}

.big {
  font-size: 1.15em;
}

.nomargin {
  margin: 0 auto;
}

p {
  margin: 10px auto;
}

.desc {
  font-style: italic;
}

.justify {
  text-align: justify;
}

.image-row {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  padding: 0;
}

.section-content {
  padding-left: 1em;
  padding-right: 1em;
}

.lastp {
  margin-bottom: 0;
}

.event-list {
  list-style: none;
  padding-left: 0;
}

.event-list li {
  margin-bottom: 0.8em;
}

.event-title {
  float: left;
}

.subtitle {
  text-align: left;
}

@media only screen and (max-width: 767.98px) {
  .container-inner {
    padding: 0;
  }

  .event-date::before {
    content: '\00a0(';
  }

  .event-date {
    color: #999;
  }

  .event-date::after {
    content: ')';
  }
}

@media only screen and (min-width: 768px) {
  .event-date {
    float: right;
  }
}

@media only screen and (max-width: 575.98px) {
  #tab-modules {
    padding-top: 0.6em;
  }
}

.resume-entry p {
  margin-bottom: 0.5em;
}

.resume-event,
.subtitle {
  margin-bottom: 0 !important;
}

.resume-entry {
  margin-bottom: 1.5em !important;
}

.subtitle {
  color: #808080;
}

hr {
  height: 1px;
  width: 100% !important;
  margin: 0 auto !important;
  border: 5px !important;
  background-color: transparent !important;
  background-image: linear-gradient(
    to right,
    rgba(33, 37, 41, 0),
    rgba(33, 37, 41, 75),
    rgba(33, 37, 41, 100),
    rgba(33, 37, 41, 75),
    rgba(33, 37, 41, 0)
  ) !important;
}

.todo-study-logo {
  font-family: monospace;
  color: #00bf63;
}

.todo-study-logo-nocolor {
  font-family: monospace;
}

.nomb {
  margin-bottom: 0;
}

.moreinfo {
  text-decoration: underline; /* Add underline */
  text-decoration-style: dotted; /* Make the underline dotted */
  text-decoration-color: rgba(0, 0, 0, 0.4); /* Set a low-opacity color for the underline */
  cursor: default; /* Default cursor */
}

.moreinfo:hover {
  cursor: pointer; /* Change cursor to pointer on hover */
}
